
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;

}

.navbar-brand h1{
	font-size: 1.5em;	
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
}

.navbar {
	background-color: #132020;
	border: 0;
	border-radius: 0;
	margin-bottom: 0px;
}

#main-content p{
	font-size: 2em;
	margin: 50px auto 10px;
	font-weight: bold;


}
.row{
	padding: 20px;
}

.row  div{
	height: 1000px;
	border: 1px solid black;
	background-color: gray;
	color: white;
}
.row h3{
	margin-bottom: 20px;
	font-weight: bold;
}




/****** Small devices only ******/
@media (min-width: 768px) and (max-width: 991px){
	.navbar-brand h1{
		font-size: 3vw;
	}
}

/******Extra Small devices only ******/
@media(max-width: 767px) and (min-width: 500px){
	.navbar-header{

		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-brand h1{
		font-size: 5.1vw;
		margin-top: -7px;
	}
}


@media(max-width: 501px){
	.navbar-brand h1{
		font-size: 5.5vw;
		margin-top: -4px;
	}
}