
.chicktit{font-size: 18px;background-color: #d59898;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 12px 2px 12px;}
.chick{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.beeftit{font-size: 20px;background-color: #c14543;float: right;color: #fff;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 23px 2px 22px;}
.beef{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.sushitit{font-size: 20px;background-color: #e5d198;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 21px 2px 21px;}
.sushi{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
body {
    margin: 0px;
}

.header {
    font-size: 26px;
    /* margin-top: 0px; */
    /* margin-left: 0px; */
    width: 100%;
    color: white;
    background-color: #484848;
    /* height: 53px; */
    padding: 15px 0px 15px 15px;
}
.box1{
  width: 30%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 40px;
}
.box2{
  width: 30%;
  background-color: #999;
  border: 2px solid #000;
  /* float: left; */
  margin-left: 20px;
}
.box3{
  width: 30%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 20px;
}
.boxes{
  display: flex;
}
h2 {
  margin-left: 45%;
  /* margin: 10% 0%  45% 10%; */
  margin-top: 2%;
  margin-bottom: 2%;
}


@media only screen and (max-width: 991px) and (min-width: 768px) { 
.chicktit{font-size: 18px;background-color: #d59898;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 12px 2px 12px;}
.chick{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.beeftit{font-size: 20px;background-color: #c14543;float: right;color: #fff;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 23px 2px 22px;}
.beef{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.sushitit{font-size: 20px;background-color: #e5d198;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 21px 2px 21px;}
.sushi{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.box1{
  width: 45%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 40px;
}
.box2{
  width: 45%;
  background-color: #999;
  border: 2px solid #000;
  float: left;
  margin-left: 20px;
}
.box3{
  width: 91%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 40px;
  position: absolute;
  margin-top: 20%;
}
.boxes{
  display: flex;
}
h2 {
  margin-left: 45%;
  /* margin: 10% 0%  45% 10%; */
  margin-top: 2%;
  margin-bottom: 2%;
}
}

@media only screen and (max-device-width: 767px){ 
.chicktit{font-size: 1.2em;background-color: #d59898;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 12px 2px 12px;/* position: absolute; *//* width: 300px; */}
.chick{/* margin-top: 34px; */margin: 34px 10px 10px 10px;/* font-size: 18px; */}
.beeftit{font-size: 20px;background-color: #c14543;float: right;color: #fff;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 23px 2px 22px;}
.beef{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.sushitit{font-size: 20px;background-color: #e5d198;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 21px 2px 21px;}
.sushi{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.box1{
  width: 91%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 20px;
  float: left;
  position: static;
}
.box2{
  width: 91%;
  background-color: #999;
  border: 2px solid #000;
  float: left;
  /* margin-left: 20px; */
  position: static;
  margin-top: 20px;
}
.box3{
  width: 91%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 20px;
  float: left;
  position: static;
  margin-top: 20px;
}
.boxes{
  display: table-cell;
  /* line-height: 2px; */
}
h2 {
  margin-left: 45%;
  /* margin: 10% 0%  45% 10%; */
  margin-top: 2%;
  margin-bottom: 2%;
}
}
