
.chicktit{font-size: 18px;background-color: #d59898;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 12px 2px 12px;}
.chick{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.beeftit{font-size: 20px;background-color: #c14543;float: right;color: #fff;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 23px 2px 22px;}
.beef{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.sushitit{font-size: 20px;background-color: #e5d198;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 21px 2px 21px;}
.sushi{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
body {
    margin: 0px;
}

ul#nav {
    float: right;
    margin-top: -50px;
    /* top: 0px; */
    list-style: none;
    display: -webkit-inline-box;
    font-family: roboto;
}

li {
    margin-right: 56px;
    font-size: 14px;
    cursor: pointer;
}
.header h1 {
    cursor: pointer;
}
.header {
    font-size: 16px;
    /* margin-top: 0px; */
    /* margin-left: 0px; */
    /* width: 100%; */
    color: white;
    background-color: #484848;
    /* height: 66px; */
    position: relative;
    padding: 1px 0px 1px 15px;
    /* vertical-align: middle; */
    /* cursor: pointer; */
    font-family: roboto;
}
.box1{
  width: 30%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 40px;
}
.box2{
  width: 30%;
  background-color: #999;
  border: 2px solid #000;
  /* float: left; */
  margin-left: 20px;
}
.box3{
  width: 30%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 20px;
}
.boxes{
  display: flex;
}
h2 {
  margin-left: 45%;
  /* margin: 10% 0%  45% 10%; */
  margin-top: 2%;
  margin-bottom: 2%;
}
.mnv {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBT…De5R96AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
    width: 32px;
    background-repeat: no-repeat;
    height: 32px;
    display: none;
    color: #484848;
}


@media only screen and (max-width: 991px) and (min-width: 768px) { 
.chicktit{font-size: 18px;background-color: #d59898;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 12px 2px 12px;}
.chick{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.beeftit{font-size: 20px;background-color: #c14543;float: right;color: #fff;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 23px 2px 22px;}
.beef{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.sushitit{font-size: 20px;background-color: #e5d198;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 21px 2px 21px;}
.sushi{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
ul#nav {
    /* float: right; */
    /* margin-top: -19px; */
    margin-top: -20px;
    /* margin-right: -19px; */
    /* top: 0px; */
    list-style: none;
    right: 38px;
    /* background-color: #fff; */
    /* left: 76%; */
    position: absolute;
    display: list-item;
    background-position-x: 10px;
    /* margin-top: -13px; */
    font-family: roboto;
    /* background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfgCQ0OCSNc0ey/AAAAiElEQVRIx+2VsQ3DMAwEj4LiMl0G8Q4uMkNGUuUpMoVnsPaINhALZgd9YcMwWd+DfD5AC7RKIk/mycI0SHc2i51ZGKBaiCbIHiRc4j2xChLOaofn4AICmTcfHoO087X48RIGaGeIcpP4ZiGbKK9wCyQKnRjsTrHow0cE8DNEuUp8tZBfm7yCWH8VuET0aDNrjwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNi0wOS0xM1QxNDowOTozNSswMjowMK+4p8YAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTYtMDktMTNUMTQ6MDk6MzUrMDI6MDDe5R96AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg=='); */
}
.mnv {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfgCQ0OCSNc0ey/AAAAiElEQVRIx+2VsQ3DMAwEj4LiMl0G8Q4uMkNGUuUpMoVnsPaINhALZgd9YcMwWd+DfD5AC7RKIk/mycI0SHc2i51ZGKBaiCbIHiRc4j2xChLOaofn4AICmTcfHoO087X48RIGaGeIcpP4ZiGbKK9wCyQKnRjsTrHow0cE8DNEuUp8tZBfm7yCWH8VuET0aDNrjwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNi0wOS0xM1QxNDowOTozNSswMjowMK+4p8YAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTYtMDktMTNUMTQ6MDk6MzUrMDI6MDDe5R96AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==');
    width: 32px;
    background-repeat: no-repeat;
    height: 32px;
    display: block;
    float: right;
    color: #484848;
    margin-right: 40px;
    margin-top: -58px;
    /* position: absolute; */
    z-index: 9999;
}

li {
    margin-right: 0px;
    font-size: 14px;
    cursor: pointer;
    background-color: red;
    margin-bottom: 5px;
    width: 150px;
    height: 28px;
    padding-left: 14px;
    /* margin-left: 5px; */
}
.header h1 {
    cursor: pointer;
}
.header {
    font-size: 16px;
    /* margin-top: 0px; */
    /* margin-left: 0px; */
    /* width: 100%; */
    color: white;
    background-color: #484848;
    /* height: 66px; */
    position: relative;
    padding: 1px 0px 1px 15px;
    /* vertical-align: middle; */
    /* cursor: pointer; */
    font-family: roboto;
}
.box1{
  width: 45%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 40px;
}
.box2{
  width: 45%;
  background-color: #999;
  border: 2px solid #000;
  float: left;
  margin-left: 20px;
}
.box3{
  width: 91%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 40px;
  position: absolute;
  margin-top: 20%;
}
.boxes{
  display: flex;
}
h2 {
  margin-left: 45%;
  /* margin: 10% 0%  45% 10%; */
  margin-top: 2%;
  margin-bottom: 2%;
}
}

@media only screen and (max-device-width: 767px){ 
.chicktit{font-size: 1.2em;background-color: #d59898;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 12px 2px 12px;/* position: absolute; *//* width: 300px; */}
.chick{/* margin-top: 34px; */margin: 34px 10px 10px 10px;/* font-size: 18px; */}
.beeftit{font-size: 20px;background-color: #c14543;float: right;color: #fff;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 23px 2px 22px;}
.beef{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.sushitit{font-size: 20px;background-color: #e5d198;float: right;border: 2px solid #000;margin: -2px -2px 0px 0px;padding: 2px 21px 2px 21px;}
.sushi{/* margin-top: 34px; */margin: 34px 10px 10px 10px;}
.box1{
  width: 91%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 20px;
  float: left;
  position: static;
}
.box2{
  width: 91%;
  background-color: #999;
  border: 2px solid #000;
  float: left;
  /* margin-left: 20px; */
  position: static;
  margin-top: 20px;
}
.box3{
  width: 91%;
  background-color: #999;
  border: 2px solid #000;
  margin-left: 20px;
  float: left;
  position: static;
  margin-top: 20px;
}
.boxes{
  display: table-cell;
  /* line-height: 2px; */
}
h2 {
  margin-left: 45%;
  /* margin: 10% 0%  45% 10%; */
  margin-top: 2%;
  margin-bottom: 2%;
}
}
